@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Code+Pro&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* *<===root variable responsive style decleares===>* */
:root {
  --big-font-size: 24px;
  --h1-font-size: 36px;
  --h2-font-size: 30px;
  --h3-font-size: 24px;
  --large-font-size: 20px;
  --normal-font-size: 16px;
  --small-font-size: 14px;
  --tiny-font-size: 12px;
}

:root{
  --color-primary: #4b1c80;
  --color-secondary: #79f116;
  --color-gray: #c5c5c5;
  --color-black: #000000;
}

/* Define breakpoints for responsiveness */
@media (max-width: 768px) {
  :root {
    --big-font-size: 20px;
    --h1-font-size: 28px;
    --h2-font-size: 24px;
    --h3-font-size: 20px;
    --large-font-size: 18px;
    --normal-font-size: 14px;
    --small-font-size: 12px;
    --tiny-font-size: 10px;
  }
}

@media (max-width: 480px) {
  :root {
    --big-font-size: 18px;
    --h1-font-size: 24px;
    --h2-font-size: 20px;
    --h3-font-size: 18px;
    --large-font-size: 16px;
    --normal-font-size: 12px;
    --small-font-size: 10px;
    --tiny-font-size: 8px;
  }
}

/* *<===dark light background===>* */
.light-background{
  @apply bg-gradient-to-r from-[#e5f7f4] via-[#daeff3] to-[#efffff]
}

.dark-background{
  @apply dark:bg-gradient-to-br dark:from-slate-800 dark:to-indigo-800
}

body{
  background-color: #F3F4F6;
}

/* =========== color =========== */
.bg-primary{
  background-color: var(--color-primary);
}

.bg-secondary{
  background-color: var(--color-secondary);
}

.bg-dark{
  background-color: var(--color-black);
}

.text-primary{
  color: var(--color-primary);
}

.text-secondary{
  color: var(--color-secondary);
}

.text-dark{
  color: var(--color-black);
}

.text-gray{
  color: var(--color-gray);
}

